PUBLIC_STELLAR_NETWORK="TESTNET"
PUBLIC_STELLAR_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
PUBLIC_STELLAR_RPC_URL="https://soroban-testnet.stellar.org"
PUBLIC_STELLAR_HORIZON_URL="https://horizon-testnet.stellar.org"
PUBLIC_STELLAR_FRIENDBOT_URL="https://friendbot.stellar.org"
PUBLIC_STELLAR_USDC_ISSUER="GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5"
PUBLIC_BLEND_POOL_ID="CCEBVDYM32YNYCVNRXQKDFFPISJJCV557CDZEIRBEE4NCV4KHPQ44HGF"
PUBLIC_BLEND_USDC_CONTRACT_ID="CAQCFVLOBK5GIULPNZRGATJJMIZL5BSP7X5YJVMGCPTUEPFM4AVSRCJU"
PUBLIC_BLEND_USDC_ISSUER="GATALTGTWIOT6BUDBCZM3Q4OQ4BO2COLOAZ7IYSKPLC2PMSOPPGF5V56"
PUBLIC_BLEND_FAUCET_URL="https://ewqw4hx7oa.execute-api.us-east-1.amazonaws.com/getAssets"
